<mat-card class="bg-dark">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <h3>
            <strong class="text-white">{{ titulo }}</strong>
            <mat-icon>groups</mat-icon>
          </h3>
        </mat-card-title>
        <mat-card-subtitle>
          <h4>
            <strong class="text-white-50"> 
              Usuarios 
            </strong>
          </h4>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <mat-card-actions class="text-white ml-2 my-3">
        <div class="row">
          <div class="col-3">
            <button
            mat-raised-button
            class="btn bg-light btn-rounded btn-outline-dark btn-xs"
            type="button"
            [routerLink]="['/users/form']"
          >
            Crear Usuario
            <mat-icon>person_add_alt_1</mat-icon>
          </button>
          </div>
          <div class="col-9">
            <form #regionForm="ngForm" >
              <div class="form-group row">
               <label for="nombre" class="col-form-label col-sm-1 ">Buscar </label>
               <div class="col-sm-4">
                 <input type="text" class="form-control "
                         [(ngModel)]="user.nombre"
                         style="text-transform:uppercase;"
                         placeholder="Ingrese  nombre"
                         id="user.nombre"
                         name="user.nombre"
                         minlength="3"
                         maxlength="20"
                         #user.nombre="ngModel"
                         ng-model="user.nombre"
                         requiered>
               </div>
              
                <div class="col-sm-4">
                 <button class="btn btn-primary"
                 role="button"
                 (click)="buscar(user.nombre)" >
                   Buscar
                 </button>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-light"
                role="button"
                (click)="cargarListadoUsuariosCompleto()">
                  Limbiar
                </button>
               </div>
             
             </div>
             
           </form>
          </div>
        </div>
        
      </mat-card-actions>
      <table
        matSort
        style="width: 100%"
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef><strong>Detalle</strong></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-button
              [routerLink]="['/users/detail', element.id]"
            >
              <span
                matBadge="Ver"
                matBadgePosition="before"
                matBadgeColor="accent"
                matBadgeOverlap="false"
              >
                <mat-icon>person</mat-icon>
                {{element.id}}
              </span>
            </button>
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <strong> Nombre </strong>
          </th>
          <td style="text-align: left" mat-cell *matCellDef="let element">
            {{ element.nombre }}
          </td>
        </ng-container>
         <!-- Name Column -->
         <ng-container matColumnDef="rol">
            <th
              mat-sort-header
              style="text-align: left"
              mat-header-cell
              *matHeaderCellDef
            >
              <strong> Rol </strong>
            </th>
            <td style="text-align: left" mat-cell *matCellDef="let element">
              {{ element.rol.nombre }}
            </td>
          </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="estado">
          <th
            mat-sort-header
            style="text-align: left"
            mat-header-cell
            *matHeaderCellDef
          >
            <strong> Estado </strong>
          </th>
          <td style="text-align: left" mat-cell *matCellDef="let element">
            <span style="font-size: 15px" *ngIf="element.estado === false">
              <strong class="badge badge-danger">
                Desactivado
              </strong>
            </span>
            <span *ngIf="element.estado === true">
              Activo
            </span>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="editar">
          <th style="text-align: center" mat-header-cell *matHeaderCellDef>
            <strong> Editar </strong>
          </th>
          <td style="text-align: center" mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              class="btn btn-rounded btn-outline-dark btn-sm"
              type="button"
              [routerLink]="['/users/form', element.id]"
            >
            <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
  
       <!-- Name Column -->
       <ng-container matColumnDef="eliminar">
        <th style="text-align: center" mat-header-cell *matHeaderCellDef>
          <strong> Eliminar </strong>
        </th>
        <td style="text-align: center" mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            class="btn btn-rounded btn-outline-dark btn-sm"
            type="button"
            (click)="eliminarUsuario(element.id)"
          >
          <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No se encontraron datos 
          </td>
        </tr>
      </table>
      
      <div class="alert alert-info" *ngIf="activar">
          <strong>No hay registros en la Base de Datos</strong>
       
      </div>
    </mat-card-content>
  </mat-card>