

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-list role="list">
                <mat-list-item role="listitem">ID: {{user?.id}}</mat-list-item>
                <mat-list-item role="listitem">Nombre: {{user?.nombre}}</mat-list-item>
                <mat-list-item role="listitem">Rol: {{user?.rol?.nombre}}</mat-list-item>
                <mat-list-item role="listitem">Estado: {{user?.estado}}</mat-list-item>
                <mat-list-item role="listitem">Creado: {{user?.createAt}}</mat-list-item>
              </mat-list>
        </mat-card>
        <mat-card>
            <mat-list role="list">
                <mat-list-item role="listitem"><button
                    mat-raised-button
                    class="btn btn-rounded btn-outline-dark btn-sm"
                    type="button"
                    [routerLink]="['/users/form', user?.id]"
                  >
                    Editar <mat-icon>edit</mat-icon>
                  </button></mat-list-item>
                <mat-list-item role="listitem"></mat-list-item>
                <mat-list-item role="listitem"><button
                    mat-raised-button
                    class="btn btn-rounded btn-outline-dark btn-sm"
                    type="button"
                    (click)="eliminarUsuario(user?.id)"
                  >
                    Eliminar <mat-icon>delete</mat-icon>
                  </button></mat-list-item>
                <mat-list-item role="listitem"></mat-list-item>
              </mat-list>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>